<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./index.css">
    </head>

    <body>
        <p class="line-1 anim-typewriter">
            I am Gilbert. I'm a Software Developer<br><br>
            I have experiences in: <br><br>
             - Backend development with Python, Java, C++<br>,and Javascript. <br><br>
             - Frontend development with frameworks such as <br>React and Vue <br><br>
             - SQL and NoSQL database development.<br><br><br>
            View my <a href="https://github.com/Gilbert-Adu?tab=repositories" target="_blank">Github</a> or <a href="mailto:gilbertenos770@yahoo.com?subject = Résumé request body=Message" target="_blank">request my résumé</a>.
            

        </p> 
    </body>

</html>